<footer class="mt3">
  <div class="container">
    <div class="row mthalf align-left pl1">
      <p class=" minimal gray">&copy; <%= site.author %>, <%= site.currentYear %></p>
    </div>
  </div>
</footer>
