<header>
  <nav class="navbar navbar-inverse navbar-static-top bg-blue mb3 border-none" height="70px" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header pl2"> 
        <a href="\" class="bold-600 arial expanded navbar-brand pl0"><%= site.title %></a>
      </div>
    </div>
  </nav>
</header>