<header>
  <div class="bg-blue ubuntu" style="height:54px; line-height: 54px">
    <div class="container-fluid p0 m0">
      <div class="row mx-responsive">
        <div class="col-12 p0 clearfix">
          <img class="mt0 float-left profile-minimal unselectable grayscale-100 mrquarter" src="<%= site.image %>" alt="<%= site.author %>"/>
          <nav class="" role="navigation">
            <a href="\" class="float-left expanded small-size gray-link">Gulácsi András</a>
            <a href="#kapcsolat" class="float-right expanded small-size gray-link">Kapcsolat</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>