<header>
  <div class="bg-dark-blue" style="min-height:70px; line-height: 70px">
    <div class="container-fluid p0 m0">
      <div class="row mx-responsive p0">
        <div class="col-12 p0 clearfix">
          <a href="/">
            <img class="mt0 float-left profile unselectable grayscale-100 mr2" src="/assets/images/logo.png"
              alt="<%= site.author %>" /></a>
          <nav class="float-left" role="navigation">
            <a href="\" class="medium-size white-link mr1">Főoldal</a>
            <a href="#kapcsolat" class="medium-size white-link">Kapcsolat</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>