<!-- Begin Mailchimp Signup Form -->
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=0a74bd7ad6e9b7577ec3fa73b&amp;id=9cea65df63"
  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
  class="custom-form ws-validate mr2 clear-x-margin" target="_blank" novalidate>
  <div class="form-group mbhalf">
    <label for="mce-FNAME" class="medium-size black-body m0">A keresztneved</label>
    <input type="text" value="" name="FNAME" style="min-width: 280px;" id="mce-FNAME" required>
  </div>
  <div class="form-group mbhalf">
    <label for="mce-EMAIL" class="medium-size black-body m0">Az e-mail címed</label>
    <input type="email" value="" name="EMAIL" id="mce-EMAIL" style="min-width: 280px;" required>
  </div>

  <div class="form-group mb0">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
        name="b_6cbbf883d98fba69287cc1e48_838b177b0a" tabindex="-1" value=""></div>
  </div>
  <div class="clearfix">
    <button type="submit" value="Feliratkozás" name="subscribe"
      class="float-left btn btn-lg btn-subscribe min-size uppercase expanded">Mehet a
      feliratkozás</button>
  </div>
</form>
<!--End mc_embed_signup-->