<nav class="align-center smallest uppercase mt3 mb1">
  <a href="./../../../index.html" class="dark-gray mr2 underline">Cikkeim</a>
  <a href="./../../../about.html" class="dark-gray mr2 underline">Magamról</a>
  <a href="./../../../book.html" class="dark-gray underline">Könyvem</a>
</nav>
<div class="mt1 mb1" >
  <p class="mb2 small dark-gray">Ha tetszett, amit olvastál és szeretnél e-mailben értesülni az újabb írásokról, akkor <a class="underline" href="<%= site.mailchimp %>">iratkozz fel a hírlevelemre</a>!</p>
</div>