<nav class="align-center smallest uppercase mt3 mb2">
  <a href="./../../../index.html" class="dark-gray mr2 underline">Cikkeim</a>
  <a href="./../../../about.html" class="dark-gray mr2 underline">Magamról</a>
  <a href="./../../../book.html" class="dark-gray underline">Könyvem</a>
</nav>