<h1 class="no-underline blue mbhalf expanded black-900 m0"><%= title %></h1>
<p class="minimal gray mb2 arial"><span class="uppercase"><%= date %> | <%= topic %></span> | <a href="<%= canonicalUrl %>/#disqus_thread" class="">Nincs hozzászólás</a></p>
