<div class="share-page mb0 mt1 medium-gray small-size">
  <a class="pthalf pbhalf" href="https://facebook.com/sharer.php?u=<%= canonicalUrl %>" rel="nofollow" target="_blank" title="Megosztás itt: Facebook">Megosztom a cikket a Facebook-on</a>
</div>