<div class="mt3">
  <p class="medium arial dark-gray mbhalf">Köszönöm, hogy elolvastad! – GA</p>
  
  <div class="share-page arial medium dark-gray mb4">
    A cikk megosztása:
    <a href="https://facebook.com/sharer.php?u=<%= canonicalUrl %>" rel="nofollow" target="_blank" title="Megosztás itt: Facebook">Facebook</a> |
    <a href="https://plus.google.com/share?url=<%= canonicalUrl %>" rel="nofollow" target="_blank" title="Megosztás itt: Google+">Google+</a>
  </div>
  
  <!-- Begin Mailchimp Signup Form -->
  <h4 class="mt0 pthalf mb1 dark-gray2 medium">Szeretnék e-mailben értesülni az új cikkekről!</h4>
  <div id="mc_embed_signup">
    <form action="https://blog.us19.list-manage.com/subscribe/post?u=6cbbf883d98fba69287cc1e48&amp;id=838b177b0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="arial mc-field-group form-group">
          <label for="mce-FNAME" class="arial small">A keresztneved </label>
          <br>
          <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
        </div>
        <div class="arial mc-field-group form-group">
          <label for="mce-EMAIL" class="arial small">Az e-mail címed </label>
          <br>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6cbbf883d98fba69287cc1e48_838b177b0a" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Feliratkozom" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-large minimal uppercase arial mbhalf"></div>
        <span class="italic minimal arial dark-gray">* Havonta egy e-mailt küldök. Bármikor leiratkozhatsz!</span>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->
</div>