<div class="share-page mb0 mt1 medium-gray small-size">
  <ul class="no-bullets">
    <li class="mbhalf"><a class="pthalf pbhalf" href="https://facebook.com/sharer.php?u=<%= canonicalUrl %>" rel="nofollow" target="_blank" title="A cikk megosztása a Facebook-on">A cikk megosztása a Facebook-on</a></li>
    <li><a class="pthalf pbhalf" href="">Hírlevél-feliratkozás (Mailchimp)</a></li>
  </ul>
</div>