<div class="sm-col-12 md-col-10 lg-col-8 col-7 mx-auto mb3 align-center">
  <table class="dark-gray merryweather align-center mx-auto" style="font-size: 6rem; width: 240px; max-height: 140px; margin-top: 0">
    <tr class="m0 border-none">
      <td class="border-none">4</td>
      <td class="border-none"><img class="m0 profile404 unselectable align-center" src="assets/images/me_smaller_hun.jpg" alt="Profilkép"/></td>
      <td class="border-none">4</td>
    </tr>
  </table>
  <p>Szia! Az általad keresett oldal nem található.
    Ugrás ide:
  </p>
  <ul class="align-center small uppercase" style="list-style-type: none;">
    <li class="pbhalf"><a href="./../../../index.html" class="dark-gray">Kezdőlap / Cikkek</a></li>
    <li class="pbhalf"><a href="./../../../about.html" class="dark-gray">Rólam</a></li>
    <li><a href="./../../../book.html" class="dark-gray">A könyvem</a></li>
  </ul>
</div>