<h1 class="post-title">A hozzászólási szabályzat</h1>

<p>Először is: ez nem a 444.hu vagy a 888.hu komment szekciója. Itt elvárt a színvonalas diskurzus. Ezek a játékszabályok:</p>
  
<ol>
  <li>Csak a témához kötődő hozzászólások engedélyezettek.</li>
  <li>Pontosan idézd, hogy a cikkem mely részével nem értesz egyet!</li>
  <li>A személyeskedést, a trollkodást, a spammalést és floodolást (ugyanannak az üzenetnek sokszor, egymás után történő elküldése) moderálással szankcionálom!</li>
  <li>Mindent tudok a csaló érvelési technikákról (szalmabáb és társai). Ne is próbálkozz ilyenekkel! Fölösleges.</li>
  <li>A kéretlen reklámokat és a nem biztonságos honlapokra mutató linkeket automatikusan eltávolítom. Egyébként lehet hasznos linkeket megosztani.</li>
  <li>A blogomon nincsen cenzúra, sem pedig kettős mérce.</li>
</ol>
  
<p>A fenti pontokban lefektetett szabályok kötelező érvényűek mindenkire nézve, kivétel nélkül.</p>