<div class="container mb3 mt3">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="pb1 border-bottom clearfix">
        <h1>Magamról</h1>
        <img class="left m0 profile unselectable mrhalf" src="assets/images/profile.jpg" alt="Profilkép"/>
        <p>Gulácsi András vagyok. Frontend webfejlesztőnek és UX designer-nek tanulok. Eredeti végzettségemet tekintve geográfus és környezettudós vagyok; a szabadidőmben táncolok.</p>
        <p>Nyitott vagyok a junior állásajánlatokra:</p>
        <a class="btn btn-primary mbhalf smallest" href="<%= site.cv %>">Az önéletrajz letöltése</a>
        <a class="btn btn-primary mbhalf smallest" href="mailto:<%= site.email %>">E-mail küldése</a>
        
        <hr>
        <h2>Kulcsszavak:</h2>
        <p><div class="tag">webdesigner</div>
          <div class="tag lh3">UI/UX designer</div>
          <div class="tag lh3">Frontend Developer</div>
          <div class="tag lh3">JavaScript</div>
          <div class="tag lh3">Node.js</div>
          <div class="tag lh3">Express</div>
          <div class="tag lh3">SQL</div>
          <div class="tag lh3">Jekyll</div>
          <div class="tag lh3">Bootstrap 3</div>
          <div class="tag lh3">Angular 2+</div>
          <div class="tag lh3">Git</div>
          <div class="tag lh3">npm</div>
        </p>
        <hr> 
        
        <h2>Referenciamunkák:</h2>     
        <h3>Honlapok:</h3>
        <ul>
          <li><a class="underline" href="https://www.gulacsiandras.blog">www.gulacsiandras.blog</a></li>
          <li><a class="underline" href="https://www.kizombavilag.com">www.kizombavilag.com</a></li>
          <li><a class="underline" href="http://www.newgeographer.com">www.newgeographer.com</a></li>
        </ul>

        <h3>npm csomagok:</h3>
        <ul>
          <li><a class="underline" href="https://www.npmjs.com/package/basestats">basestats v1.0.2</a>: egy Node.js modul, amely alapstatisztikákat számol tömbökből, tömbszerű objektumokból, JSON-ból és a MongoDB táblákból származó adatokból.</li>
          <li><a class="underline" href="https://www.npmjs.com/package/collog-type">collog-type v1.0.1</a>: egy logger függvény, amely különböző színnel írja ki a konzolra az argumentumait az adat típusától függően.</li>
          </ul>
              
        <h3>Egyéb alkalmazások:</h3>
        <ul>
          <li><a class="underline" href="https://github.com/SalsaBoy990/static-site-express">static-site-express</a>: egy Node.js alapú statikus oldalgenerátor alkalmazásával (template motor: EJS, adatbázis: SQL). Ezzel készítettem ezt a honlapot.</li>
        </ul>
      </div>
    </div>
  </div>
</div>