<div class="container mb3 mt3">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="pb1 border-bottom">
        <h1 class="mb2"><%= site.bookTitle %></h1>
        <p>Készületben. Sajnos idő hiányában nagyon lassan haladok vele. Egy példafejezetet közel végleges állapotában elérhetővé tettem ezen a címen: <a class="underline" href="https://www.docdroid.net/AfviHbV/gulacsiandras-kivonat-19-gmo-2017-07-19.pdf">Félelemkeltés a GMO-kkal és a vegyszerekkel. A zöld szervezetek kapcsolata az organikus élelmiszerlobbival.</a>
        </p>
        
        <hr>
        <img class="mt2 mb1 mx-auto unselectable width-70pc" src="assets/images/book.jpg" alt="<%= site.bookTitle %>"/>
        <hr>
        
        <p>A könyvem első harmadával 2018 őszére fogok elkészülni. Az alábbi tartalommal:
        </p>

        <ol>
          <li class="pb1"><b>Általános bevezetés</b>
            <ol class="small">
              <li>Rendezett emberei környezetet a világon!</li>
              <li>Az antihumanista zöld ideológia fenyegetése.</li>
              <li>Az emberiség szolgálatában álló tudomány.</li>
              <li>Mi a természetes? Természetes kontra mesterséges. Mi a valódi környezetvédelem?</li>
              <li>A környezet embereltartó képessége, a tájpotenciál.</li>
              <li>A fenntartható fejlődés kritikája.</li>
            </ol>
          </li>

          <li><b>Népesedés és fogyasztás</b>
            <ol class="small">
              <li>A túlnépesedés és a növekedés határai.</li>
              <li>A népesedés és a gazdasági fejlődés kapcsolata.</li>
              <li>A környezetre gyakorolt emberi hatás mértéke.</li>
              <li>A természeti erőforrások kimerülése - az előrejelzések kudarca.</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>