<nav class="align-center smallest uppercase mt3 mb2">
  <a href="./../../../index.html" class="dark-gray mr1 underline">Cikkek</a>
  <a href="./../../../about.html" class="dark-gray mr1 underline">Magamról</a>
  <a href="./../../../index.html" class="dark-gray underline">Könyvem</a>
</nav>