<div class="sm-col-12 md-col-9 lg-col-6 col-7 mt2 mb2 mx-auto border-top letter-spacing">

  <div class="left mt1 mb1 smallest uppercase" >
    <a href="<%= site.mailchimp %>" class="dark-gray">Hírlevél feliratkozás</a>
  </div>
  <div class="right mt1 mb1 smallest uppercase">
      <a href="./../../../index.html" class="dark-gray">Kezdőlap</a>
  </div>

  </div>