<div class="sm-col-12 md-col-9 lg-col-6 col-7 mb2 mx-auto letter-spacing">

  <nav class="align-center smallest uppercase">
      <a href="./../../../index.html" class="dark-gray">Kezdőlap</a>
    </nav>

  </div>