<div class="sm-col-12 md-col-9 lg-col-6 col-7 mt2 mb2 mx-auto border-top">
  <div class="mt1 mb1" >
      <p class="mb2 small dark-gray" >Ha tetszett, amit olvastál és szeretnél e-mailben értesülni az újabb írásokról, akkor <a href="<%= site.mailchimp %>">iratkozz fel a hírlevelemre</a>!</p>
  </div>
</div>