<div class="mt3 smallest dark-gray align-center" style="display: none;">Powered by <a href="https://www.netlify.com/">Netlify</a>.</div>
  <div class="mb2">
    <a title="Web Analytics" href="http://clicky.com/101106660"><img alt="Web Analytics" class="align-center mthalf mx-auto" src="//static.getclicky.com/media/links/badge.gif" border="0" style="display:none;" /></a>
  </div>
  <script type="text/javascript">
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(101106660);
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101106660ns.gif" /></p></noscript>