<span class="post-date">2018. március 29.</span>
<h1 class="post-title">A Föld Órája – egy különvélemény (Dr. Ross McKitrick)</h1>

<p>2009-ben egy újságíró megkérdezte tőlem, hogy mit gondolok a Föld Órájának jelentőségéről.</p>

<p>Itt a válaszom.</p>

<p>Irtózom a Föld Órájától. A bőséges és olcsó elektromosság az emberi szabadság kiteljesedésének legjelentősebb forrása volt a XX. században. Minden anyagi értelemben vett haladás a XX. században az olcsó és megbízható villamosság elterjedésétől függött.</p>

<p>A nők házon kívüli szabad munkavállalása az elektromos berendezések hozzáférhetőségétől függött, ami időt szabadított fel a háztartási munkák végzése alól. A gyerekek cselédmunka alóli kivétele és iskolába járatása is ugyanattól a dologtól függött, ahogyan a biztonságos beltéri világítás biztosításának képessége.</p>

<p>A modern egészségügy fejlődése és rendelkezésre állása elektromosság nélkül teljességgel lehetetlen. Az élelmiszerellátásunk bővülése, és a higiénia elősegítése és az élelmezés attól függött, hogy képesek voltunk öntözni a földeket, az élelmet megfőzni és hűtve tárolni/lefagyasztani, valamint házon belüli állandó forró vizet biztosítani.</p>

<p>A világ szegényei közül rengetegen kegyetlen környezeti viszonyok között szenvednek a lakáson belül a beltéri tűzön főzés szükségessége miatt, ahol gallyakat és szárított trágyát égetnek. Ez helyi erdőirtásokat, valamint a füsthöz és a parazitákhoz köthető tüdőbetegségek elterjedéséhez járul hozzá.</p>

<p>Aki látni szeretné a helyi viszonyok javulását a Harmadik Világban, annak fel kell ismernie a fosszilis tüzelésű erőművek által szolgáltatott olcsó elektromossághoz való hozzáférés fontosságát. Elvégre a Nyugat is így fejlődött.</p>

<p><b>Az egész mentalitás Föld Órája mögött az elektromosságot démonizálja. Én ezt nem tehetem, hanem helyette ünneplem azt, és mindazt, amit biztosított az emberiség számára.</b></p>

<p>A Föld Órája a tudatlanságot, a szegénységet és a visszamaradottságot dicsőíti. Az emberi szabadság legnagyobb motorjának elutasításával az antihumanizmusnak szentelt egy órává válik. Jelentéktelen berendezések jelentéktelen időre való kikapcsolásának álszent gesztusát szorgalmazza egy valamilyen rosszul meghatározott, „a Földnek” nevezett absztrakció hódolatának, miközben képmutató módon megtartja az állandó, megbízható villamosság tényleges előnyeit.</p>

<p>Mindazok, akik erényt látnak abban, hogy elektromosság nélkül is megvannak, nem csak egy órára, hanem egy egész hónapra ki kellene kapcsolniuk a hűtőjüket, a villanytűzhelyüket, a mikrohullámú sütőjüket, a számítógépüket, a vízmelegítőjüket, a világításukat, a televíziójukat és más elektromos eszközeiket. Továbbá keressék fel a kardiológiai osztályt a kórházban és kapcsolják le ott is az áramot!</p>

<p>Nem akarok visszatérni a természetbe. Utazz el egy földrengés, áradás vagy hurrikán sújtotta övezetbe, hogy meglásd milyen visszatérni a természetbe. Az emberek számára a „természetben” élés rövid élettartamot jelent, amit az erőszak, a betegségek és a tudatlanság jellemez. A szegénység felszámolásáért és a betegségek alóli megmenekedésért dolgozó emberek a természet ellen harcolnak. Remélem ők égve hagyják a villanyt.</p>

<p>Itt Ontarióban a szennyezést korlátozó technológiáknak és a korszerű mérnöki tervezésnek köszönhetően a levegőminőségünk drasztikus mértékben javult az 1960-as évek óta, az ipar és az áramtermelés bővülése ellenére.</p>

<p>Ha ezek után is azt a nézetet fogadjuk el, hogy a fennmaradó légköri kibocsátások felülmúlják az elektromosság összes előnyét, és hogy egy órán keresztül a sötétben kuksolva kellene szégyenkeznünk, mint rossz gyerekek, akiket valamilyen csínyen kaptak, akkor az érintetlen természetet emeljük fel egy olyan abszolút, transzcendens eszménnyé, ami minden más etikai és emberi kötelezettséget eltöröl.</p>

<p>Kösz nem!</p>

<p>Szeretek a természetben járni, de nem akarok ott élni, és megtagadom annak az elképzelésnek az elfogadását, mi szerint az emberi civilizáció minden erőforrásigényével együtt egy olyan dolog, ami miatt szégyenkezni kellene.</p>

<p class=align-right><b>Ross McKitrick</b><br />
  <i>közgazdász professzor</i><br />
  <i>Guelph-i Egyetem, Kanada</i></p>

<h2>Felhasznált forrás</h2>
<ol>
  <li>Ross McKitrick: <a href="https://www.mises.ca/earth-hour-a-dissent/">Earth Hour: A Dissent.</a> Mises Canada, 2012-04-01.</li>
</ol>
