<!DOCTYPE html>
<html lang="hu">
  <!-- HEAD -->
  <%- include('../partials/head') %>
<body>

  <!-- MAIN CONTENT -->
  <main class="pr1 pl1 clear-padding">

    <!-- BLOGPOST CONTENT -->
    <%- body %>

  </main>

  <!-- NAVIGATION BAR -->
  <%- include('../partials/navbar-404') %>

  <!-- Tracker code, link to Netlify -->
  <%- include('../partials/netlify_clicky') %>
</body>
</html>